<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Cars</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body style="background-color: rgba(134,223,225,0.6)">
<div class="container-fluid text-center" style="background-color: cadetblue">
    <div style=" line-height: 1.5; letter-spacing: 2px; font-family: Impact, fantasy; color: azure; text-shadow: 3px 3px 5px darkslategrey;"><h2>Manage Cars</h2></div>
    <div class="m-2">
        <a class="h3" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; font-family: Impact, fantasy; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{/cars/new}">Add New Car</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>


    <div>
        <a class="h2" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; font-family: Impact, fantasy; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{/users}">Users</a>
        <table class="table table-bordered">
            <thead style="background-color: rgba(4,61,65,0.6); font-family: Impact, fantasy; color: azure; text-shadow: 3px 3px 5px darkslategrey;">
            <tr>
                <th>ID</th>
                <th>Rendszam</th>
                <th>Szin</th>
                <th>Marka</th>
                <th>User</th>
                <th></th>
            </tr>
            </thead>
            <tbody style="background-color: rgba(180,255,232,0.6); font-family: Impact, fantasy;">
            <th:block th:each="car : ${listCars}">
                <tr>
                    <td>[[${car.id}]]</td>
                    <td>[[${car.rendszam}]]</td>
                    <td>[[${car.szin}]]</td>
                    <td>[[${car.marka}]]</td>
                    <td>[[${car.user.lastName}]]</td>
                    <td>
                        <a class="h4 mr-3" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{'/cars/edit/' + ${car.id}}">Edit</a>
                        <a class="h4" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{'/cars/delete/' + ${car.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <a class="h2" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; font-family: Impact, fantasy; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{/}">Vissza</a>
    </div>
</div>
</body>
</html>