<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <style>
        .center-image {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
</head>
<body style="background-color: rgba(134,223,225,0.6); font-family: Impact, fantasy;">
<div class="container-fluid text-center" style="background-color: cadetblue">
    <h1 style="color: azure; text-shadow: 3px 3px 5px darkslategrey;">Welcome here!</h1>
    <h2 style="color: azure; text-shadow: 3px 3px 5px darkslategrey;">You can register yourself and your cars.</h2>
    <div>
    <a class="h2" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{/users}">Users</a>
    </div>
    <div>
    <a class="h2" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{/cars}">Cars</a>
    </div>
</div>
<div>
    <img src="/images/car.jpeg" alt="Car image" class="center-image" style="border-radius: 60px;">
</div>
</body>
</html>