<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body style="background-color: rgba(134,223,225,0.6)">
<div class="container-fluid text-center" style="background-color: cadetblue">
    <div style=" line-height: 1.5; letter-spacing: 2px; font-family: Impact, fantasy; color: azure; text-shadow: 3px 3px 5px darkslategrey;"><h2>Manage Users</h2></div>
    <div class="m-2">
        <a class="h3" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; font-family: Impact, fantasy; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{/users/new}">Add New User</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>


    <div>
        <a class="h2" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; font-family: Impact, fantasy; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{/cars}">Cars</a>
        <table class="table table-bordered" style="font-family: Impact, fantasy;">
            <thead style="background-color: rgba(4,61,65,0.6); color: azure; text-shadow: 3px 3px 5px darkslategrey;">
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>
            <tbody style="background-color: rgba(180,255,232,0.6)">
            <th:block th:each="user : ${listUsers}">
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.enabled}]]</td>
                    <td>
                        <a class="h4 mr-3" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                        <a class="h4" style="color: #19571d; line-height: 1.5; letter-spacing: 2px; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <a class="h2" style="color: #19571d; font-family: Impact, fantasy; line-height: 1.5; letter-spacing: 2px; text-shadow: 0.5px 0.5px 1px azure;" th:href="@{/}">Back</a>
    </div>
</div>
</body>
</html>